h3 {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: darkslategrey;
}

header {
    height: 120px;
    background-color: gainsboro;
    color: darkgreen;
    border-bottom: 1px #000000 solid;
}

header h2 {
    margin-top: 40px;
    margin-right: 50px;
    float: right;
}

footer {
    border-top: 1px #000000 solid;
    background-color: gainsboro;
    height: 120px;
    text-align: center;
    clear: both;
}

.appView {
    margin: auto;
    width: 900px;
    background: #f5f5f5;
}

.mainBody {
    min-height: 100%;
    min-width: 900px;
    width: 900px;
}

.mainBody .menuBlock {
    margin: 10px;
    min-width: 200px;
    border: 1px #000000 solid;
    float: left;
}

.mainBody .container {
    margin: 10px;
    min-width: 650px;
    max-width: 650px;
    border: 1px #000000 solid;
    float: left;
}

/** Onew news view **/

.newsFullViewContainer .title {
    max-width: 500px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.newsFullViewContainer .date {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.newsFullViewContainer .brief, .newsFullViewContainer .content  {
    margin: 20px 60px 20px 30px;
    clear: both;
    text-align: justify;
}


