<input name="title" type="text" placeholder="Enter title here" id="title" value="<%= title %>" maxlength="100">
<span id="titleError">title error</span>
<input name="date" type="text" placeholder="Date" id="date" value="<%= date %>">
<span id="dateError">date error</span>
<input name="brief" type="text" placeholder="Enter news brief here" id="brief" value="<%= brief %>" maxlength="150">
<span id="briefError">brief error</span>
<textarea name="content" placeholder="Enter content here" id="content" rows='5' maxlength="1000"><%= content %></textarea>
<span id="contentError">content error</span>
<input type="button" value="Cancel" class="cancelBtn">
<input type="button" value="Submit" class="createBtn">